div.icon-savoir
figure
  img(src="img/icon-contact.png" class="fix-icon")
  h2.vert <span><<spans>Contact</span>></spans>
  p.blanc Besoin de me contacter ? N'hésitez pas !   
hr
include ./formulaire.pug