include ./menu.pug
div.container
  div.row
    figure(class="col-sm-6 col-lg-offset-1 col-lg-4 text-center")
      img(src="img/avatar.png" style="width:70%")
    div(class="col-sm-offset-1 col-sm-5 col-lg-offset-1 col-lg-6")
      ol
        li Hello world !
        li je suis <strong><span class="vert">Rémy Mozelle</span></strong>
        li: span.bleu apprenti developpeur <a href="#" class="orange">Simplonien<a>
      div.rs
        figure: a: img(class="" src="img/contact/rs-git.png")
        figure: a: img(class="" src="img/contact/rs-twitter.png")
        figure: a: img(class="" src="img/contact/rs-lin.png")
        