div.icon-portfolio
figure
  img(src="img/icon-portfolio.png" class="fix-icon")
  h2.bleu <span><<spans>Porfolio</span>></spans>
  p.blanc Intégration web, bout de code, Javascript, php
hr
include ./cards.pug
